<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.springbootex.ecommerce.product.query.mapper.ProductMapper">
    <select id="findAll" resultType="kr.co.springbootex.ecommerce.product.query.dto.ProductDTO">
        SELECT
            no_product,
            nm_product,
            nm_detail_explain,
            nb_file,
            dt_start_date,
            dt_end_date,
            qt_sale_price,
            qt_stock
        FROM tb_product
    </select>

    <select id="findById" parameterType="String" resultType="kr.co.springbootex.ecommerce.product.query.dto.ProductDTO">
        SELECT
            no_product,
            nm_product,
            nm_detail_explain,
            nb_file,
            dt_start_date,
            dt_end_date,
            qt_sale_price,
            qt_stock
        FROM tb_product
        WHERE no_product=#{id}
    </select>

    <select id="findByCategory" parameterType="Long" resultType="kr.co.springbootex.ecommerce.product.query.dto.ProductMapCategoryDTO">
        SELECT
            p.no_product,
            p.nm_product,
            p.nm_detail_explain,
            p.nb_file,
            p.dt_start_date,
            p.dt_end_date,
            p.qt_sale_price,
            p.qt_stock,
            cp.nb_category,
            c.nm_category
        FROM tb_product p
            JOIN tb_category_product_mapping cp
                ON p.no_product = cp.no_product
            JOIN tb_category c
                ON c.nb_category = cp.nb_category
        WHERE c.nb_category=#{id}
    </select>
</mapper>